body {
  background-color: #f5f5f5 !important; }

html {
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  min-width: 360px; }

nav {
  height: auto;
  min-height: 70px;
  background-color: white;
  font-size: 1.25rem;
  width: 100%;
  z-index: 99;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 0; }
  nav a:link {
    text-decoration: none; }
  nav .logo-div {
    display: inline-block;
    width: auto;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: .4em;
    margin-left: 5%; }
    nav .logo-div span {
      color: #17a7e0 !important;
      font-weight: bold; }
  nav .toggle-button {
    display: inline-block;
    float: right;
    padding-top: 1em;
    margin-right: 10%; }
  nav ul {
    list-style: none;
    display: inline-block;
    text-align: right;
    width: 100%;
    padding: 0;
    margin: 0; }
  nav #navbar-list .hidden {
    display: none; }
  nav #navbar-list li {
    width: 100%;
    float: left;
    font-size: 1.25em;
    padding: 0.3em 0;
    border-top: 1px #C6C6C6 solid;
    text-align: left;
    color: #17a7e0; }
    nav #navbar-list li:nth-child(even) {
      border-left: 1px #C6C6C6 solid; }
  nav #navbar-list p {
    padding-left: 40px;
    margin: 0;
    position: relative; }
  nav #navbar-list i {
    color: #17a7e0;
    font-size: 1.75em;
    margin-right: 25px; }
  nav #navbar-list span {
    position: absolute;
    top: 10%;
    color: #17a7e0; }
  nav #navbar-list #ShouYe,
  nav #navbar-list #donate {
    letter-spacing: 1em; }
  @media screen and (min-width: 480px) {
    nav #navbar-list li {
      width: 50%; }
    nav nav .toggle-button {
      margin-right: 5%; } }
  @media screen and (min-width: 1000px) {
    nav {
      /* //// Default effect: Slide from Top  //// */
      /* //// Angle In  //// */ }
      nav #navbar-list li:nth-child(even) {
        border-left: none; }
      nav .logo-div {
        display: inline-block;
        float: left;
        width: 20%;
        font-size: 1.5em;
        font-family: "Microsoft YaHei";
        letter-spacing: 0.1em;
        padding: .4em;
        margin-left: 5%; }
      nav .toggle-button {
        display: none; }
      nav #navbar-list {
        display: inline-block !important; }
        nav #navbar-list p {
          padding-left: 0;
          margin: 0;
          position: relative; }
        nav #navbar-list i {
          display: none; }
        nav #navbar-list span {
          position: absolute;
          top: 0;
          color: #666; }
        nav #navbar-list li {
          width: 120px;
          float: left;
          font-size: 0.9em;
          padding: 1.3em 0 0;
          border-top: none;
          text-align: left; }
          nav #navbar-list li:not(:last-child):hover {
            color: white !important;
            background-color: white; }
          nav #navbar-list li span {
            letter-spacing: 0.2em; }
            nav #navbar-list li span:hover {
              border-bottom: 4px solid #17a7e0;
              color: #17a7e0 !important; }
        nav #navbar-list a:not(:last-child) {
          padding-left: 0;
          padding-right: 0; }
      nav ul {
        width: auto;
        list-style: none;
        display: inline-block;
        text-align: right;
        margin: 0;
        float: right; }
      nav #ShouYe {
        letter-spacing: 0;
        margin-left: 35px; }
      nav .buttonfx {
        float: left;
        margin: 0;
        padding: 0;
        width: 70px;
        text-align: center;
        color: #17a7e0;
        /* button text color */
        outline: none;
        background: transparent;
        border: none;
        border: 1px solid #17a7e0;
        border-radius: 5px;
        letter-spacing: 3px !important;
        text-transform: uppercase;
        font: 300 18px Microsoft YaHei;
        /* use google font */
        position: relative;
        cursor: pointer;
        text-decoration: none;
        /* remove underline if using A instead of BUTTON tag */
        overflow: hidden;
        transition: all .3s; }
      nav .buttonfx:before,
      nav .buttonfx:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background: #17a7e0;
        /* onhover background color */
        z-index: -1;
        transform: translate3D(0, -100%, 0);
        /* move elements above button so they don't appear initially */
        transition: all .3s; }
      nav .buttonfx:before {
        background: white;
        /* button default background color */
        z-index: -2;
        transform: translate3D(0, 0, 0); }
      nav .buttonfx:hover {
        color: white;
        text-decoration: none; }
      nav .buttonfx:hover:after {
        transform: translate3D(0, 0, 0);
        transition: all .3s; }
      nav .angleinleft:after {
        width: 200%;
        transform-origin: 0 bottom;
        transform: translate3D(-50%, 0, 0) rotate(-50deg); }
      nav .angleinleft:hover:after {
        transform: rotate(0deg);
        transition: all .3s; } }

section {
  height: 100%;
  margin: 0;
  background-color: white; }
  @media (min-width: 1024px) {
    section {
      height: 100%;
      margin: 0 15vw;
      background-color: white; } }
  section h1 {
    text-align: center;
    padding: 3% 0; }
  section article {
    padding: 1% 15%; }

/*# sourceMappingURL=about.css.map */
