$main-color: #17a7e0;

html,body {
    height: 100%;
    weight: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f5f5 !important;

}

nav {
    letter-spacing: 0.2rem;
    @media (min-width: 992px) {
        .brand-logo {
            padding-left: 5% !important;        
        }
    }
    background-color: white !important;
    .brand-logo span {
        color: $main-color !important;
        font-weight: bold;
    }
    li a {
        color: #666 !important;
        font-size: 1.2rem !important;
    }
}


.wraper {
    height: 100%;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
        display: block;
        height: 100%;
        margin: 0 15vw;
        background-color: white;
    }
}

.intro {
    flex: 0 0 auto;
    height: auto;
    text-align: center;
    box-shadow: 0 0 15px #666;
    border-radius: 5px;
    article {
        width: 80%;
        margin: 0 auto;
        h1 {
            padding-top: 5%;
            letter-spacing: 2px;
            font-weight: bold;
            font-family: "Microsoft YaHei";
        }
        p {
            padding: 2% 10% 5%;
            font-size: 1.4em;
            text-align: left;
            span {
                color: #b3b3b3;
                a {
                    color: inherit;
                    text-decoration-line: underline;
                }
            }
        }
    }
}

section {
    ul {
        margin-bottom: 1rem !important;
    }
    .tabs a {
        font-size: 1.5rem !important;
        color: $main-color !important;
    }
    .jieshao {
        height: 25rem;
    }
    .jieshao-wenzi {
        height: auto;
        background: lightgrey;
        .NeiRong {
            height: auto;
            padding: 0 10%;
            p {
                &:first-of-type {
                    font-size: 2.75rem;
                    font-weight: bold;
                    margin: 0;
                    padding: 0.5rem 0 0 0;
                }
                &:last-of-type {
                    margin: 0;
                    font-size: 1.5rem;
                    padding: 0.25rem 0 0.75rem 0;
                  }
            }
          }
      }
    #GuoJiaTuShuGuan {
        background: url('../pic/LiShiDangAn/GuoTu/GuoTuBeiJing.jpg');
        background-size: cover;
        background-position: center 60%;
        background-repeat: no-repeat;
        overflow: hidden;
    }
      
    #ShanXiDangAnGuan {
        background: url('../pic/LiShiDangAn/XiAn/background.jpg');
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        overflow: hidden;
    }
      
    #NanZhengWenShi {
        background: url('../pic/LiShiDangAn/HanZhong/NanZheng.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
    }
      
    #FaGuoTuShuGuan {
        background: url('../pic/LiShiDangAn/FaGuo/FaTuBeiJing.jpg');
        background-size: cover;
        background-position: center 85%;
        background-repeat: no-repeat;
        overflow: hidden;
    }
      
    #ZhongYanYuan {
        background: url('../pic/LiShiDangAn/TaiWan/JinShiGuan.png');
        background-size: cover;
        background-position: center 85%;
        background-repeat: no-repeat;
        overflow: hidden;
    }
      
    #QinGongJianXue {
        background: url('../pic/LiShiDangAn/FaGuo/paris-1920s.jpg');
        background-size: cover;
        background-position: center 40%;
        background-repeat: no-repeat;
        overflow: hidden;
    }
      
    #LiAngTuShuGuan {
        background: url('../pic/LiShiDangAn/FaGuo/LiAng.jpg');
        background-size: cover;
        background-position: center 80%;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .content {
        margin: 0 auto;
        height: auto;
        width: 80%;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin: 2% 0;
                transition: all 0.2s ease;
                h4 {
                    font-size: 1.75rem;
                }
            }
        }
    }
    .BiaoTi {
        border-radius: 2px;
        border-top: 2px solid #000;
        border-bottom: 1px solid #ccc;
        box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
        // border: 0.2rem solid #e0e0e0;
        &:hover {
            -webkit-box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16), 2px 0 2px 0 rgba(0,0,0,0.16), 0 2px 2px 0 rgba(0,0,0,0.23);
            box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16), 2px 0 2px 0 rgba(0,0,0,0.16), 0 2px 2px 0 rgba(0,0,0,0.23);
            transform: translate3d(0, -3px, 0);
            cursor: pointer;
          }
    }
    .content-left {
        display: inline-block;
        width: 90%;
        height: 4rem;
        font-size: 1rem;
        float: left;
        background-color: #e1f5fe;
        h4 {
            font-size: 2.5rem;
            line-height: 4rem;
            font-weight: bold;
            letter-spacing: 0.2rem;
            margin: 0;
            padding-left: 0.5rem;
            font-family: KaiTi;
        }
    }
    .content-right {
        display: inline-block;
        width: 10%;
        height: 4rem;
        font-size: 3rem;
        line-height: 3rem;
        text-align: right;
        background-color: #e1f5fe;
        /*border-bottom: 0.2rem solid black;*/
        clear: both;
        i {
            line-height: 4rem;
            color: #90caf9;
            font-size: 4rem;
            padding-right: 10%;
            &:hover {
                font-size: 5rem;
            }
        }
    }
    .xiaLa {
        display: block;
        height: auto;
        padding: 2em;
        overflow: auto;
        border: 1px solid #ccc;
        border-top: none;
        box-shadow:  -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
        .tuPian {
            width: 60%;
            height: auto;
            overflow: hidden;
            display: inline-block;
            float: left;
        }
        .shuoMing {
            display: inline-block;
            width: 40%;
            font-size: 1.75rem;
            padding: 1rem;
            clear:both;
            letter-spacing: 0.1em;
        }
    }
    .yinCang {
        display: none;
      }
}

footer {
    flex: 0 0 auto;
    clear:both;
    padding: 2rem 5% 5rem;
    display: flex !important;
    justify-content: space-between;
    height: auto;
    text-align: left;
    background-color: #b0bec5;
    h3 {
        font-size: 2rem !important;
        font-weight: bold;
        margin: 0;
        letter-spacing: 3px;
        padding-bottom: 0.5em;
    }
    ul {
        margin: 0px;
        list-style: none;
        padding-left: 0;
        li {
            margin-top: 0.5rem;
            letter-spacing: 1.5px;
            text-align: left;
            font-size: 1.2em;
            a {
                cursor: pointer;
                text-decoration: none;
                color:rgb(61, 61, 61);
                &:hover {
                    text-decoration: none;
                }
            }
     
        }
    }
    .about p {
        font-size: 1.5rem;
    }

    .bottom-line p {
        letter-spacing: 3px;
    }
    @media (min-width: 1024px) {
        padding: 2rem 10% 5rem 10%;
        display: flex !important;
        justify-content: space-between;
    }
}

.bottom-div {
    @media (max-width: 600px) {
        flex: 0 0 auto;
    }  
    clear: both;
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    p a {       
        color: rgb(133, 173, 211) !important;
        &:hover {
            text-decoration: none;
        }
    }
}


.backToTop {
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 4em;
    padding: 0 1em;
    background: #E8E8E8;
    border: 2px solid #e0e0e0;
    letter-spacing: 0.1em;
    font-size: 1.2em;
    font-weight: bold;
    color: #90caf9;
    border-radius: 3px;
    &:hover {
        cursor: pointer;
        background: #e1f5fe
    }
}

.materialboxed {
    display: block;
    cursor: zoom-in;
    position: relative;
    transition: opacity .4s;
    -webkit-backface-visibility: hidden; }
    .materialboxed:hover:not(.active) {
      opacity: .8; }
    .materialboxed.active {
      cursor: zoom-out; }