html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

body {
  background-color: #f5f5f5 !important; }

nav {
  letter-spacing: 0.2rem;
  background-color: white !important; }
  @media (min-width: 992px) {
    nav .brand-logo {
      padding-left: 5% !important; } }
  nav .brand-logo span {
    color: #17a7e0 !important;
    font-weight: bold; }
  nav li a {
    color: #666 !important;
    font-size: 1.2rem !important; }

.wraper {
  height: 100%;
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: column; }
  .wraper section {
    flex-grow: 1; }
  @media (min-width: 1024px) {
    .wraper {
      display: block;
      height: 100%;
      margin: 0 10vw;
      background-color: white; } }

.tabs li a {
  position: relative; }
  .tabs li a span {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    font-weight: bold !important;
    min-width: 2rem !important; }

.intro {
  flex: 0 0 auto;
  height: auto;
  text-align: center;
  box-shadow: 0 0 15px #666;
  border-radius: 5px; }
  .intro article {
    width: 80%;
    margin: 0 auto; }
    .intro article h3 {
      padding-top: 5%;
      letter-spacing: 2px;
      font-weight: bold;
      font-family: "Microsoft YaHei"; }
    .intro article p {
      padding: 2% 10% 5%;
      font-size: 1.4rem;
      text-align: left; }
      .intro article p span {
        color: #b3b3b3; }
        .intro article p span a {
          color: inherit;
          text-decoration-line: underline; }

section ul {
  margin-bottom: 1rem !important; }
section .tabs {
  margin-top: 3rem; }
  section .tabs a {
    font-size: 2rem !important;
    letter-spacing: 2px; }
    @media (min-width: 993px) {
      section .tabs a {
        font-size: 1.75rem !important; } }
section .jieshao {
  height: 25rem; }
section .jieshao-wenzi {
  height: auto;
  background: lightgrey; }
  section .jieshao-wenzi .NeiRong {
    height: auto;
    padding: 0 10%; }
    section .jieshao-wenzi .NeiRong p:first-of-type {
      font-size: 2.75rem;
      font-weight: bold;
      margin: 0;
      padding: 0.5rem 0 0 0; }
    section .jieshao-wenzi .NeiRong p:last-of-type {
      margin: 0;
      font-size: 1.5rem;
      padding: 0.25rem 0 0.75rem 0; }
section #GuoJiaTuShuGuan {
  background: url("../pic/LiShiDangAn/GuoTu/GuoTuBeiJing.jpg");
  background-size: cover;
  background-position: center 60%;
  background-repeat: no-repeat;
  overflow: hidden; }
section #ShanXiDangAnGuan {
  background: url("../pic/LiShiDangAn/XiAn/background.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  overflow: hidden; }
section #NanZhengWenShi {
  background: url("../pic/LiShiDangAn/HanZhong/NanZheng.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden; }
section #FaGuoTuShuGuan {
  background: url("../pic/LiShiDangAn/FaGuo/FaTuBeiJing.jpg");
  background-size: cover;
  background-position: center 85%;
  background-repeat: no-repeat;
  overflow: hidden; }
section #ZhongYanYuan {
  background: url("../pic/LiShiDangAn/TaiWan/JinShiGuan.png");
  background-size: cover;
  background-position: center 85%;
  background-repeat: no-repeat;
  overflow: hidden; }
section #QinGongJianXue {
  background: url("../pic/LiShiDangAn/FaGuo/paris-1920s.jpg");
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
  overflow: hidden; }
section #LiAngTuShuGuan {
  background: url("../pic/LiShiDangAn/FaGuo/LiAng.jpg");
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
  overflow: hidden; }
section .content {
  margin: 0 auto;
  height: auto;
  width: 80%; }
  section .content ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    section .content ul li {
      margin: 2% 0;
      transition: all 0.2s ease; }
      section .content ul li h4 {
        font-size: 1.75rem; }
section .BiaoTi {
  border-radius: 2px;
  border-top: 2px solid #000;
  border-bottom: 1px solid #ccc;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); }
  section .BiaoTi:hover {
    -webkit-box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.16), 2px 0 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.23);
    box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.16), 2px 0 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.23);
    transform: translate3d(0, -3px, 0);
    cursor: pointer; }
section .content-left {
  display: inline-block;
  width: 90%;
  height: 4rem;
  font-size: 1rem;
  float: left;
  background-color: #e1f5fe; }
  section .content-left h4 {
    font-size: 2.5rem;
    line-height: 4rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin: 0;
    padding-left: 0.5rem;
    font-family: KaiTi; }
section .content-right {
  display: inline-block;
  width: 10%;
  height: 4rem;
  font-size: 3rem;
  line-height: 3rem;
  text-align: right;
  background-color: #e1f5fe;
  /*border-bottom: 0.2rem solid black;*/
  clear: both; }
  section .content-right i {
    line-height: 4rem;
    color: #90caf9;
    font-size: 3rem;
    padding-right: 10%; }
section .xiaLa {
  display: block;
  height: auto;
  padding: 2em;
  overflow: auto;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); }
  section .xiaLa .tuPian {
    width: 25rem;
    height: 25rem;
    overflow: hidden;
    display: inline-block; }
    section .xiaLa .tuPian img {
      width: 100%; }
  section .xiaLa .shuoMing {
    display: inline-block;
    width: 40%;
    font-size: 1.25rem;
    padding: 1rem;
    clear: both;
    letter-spacing: 0.1em;
    float: right; }
section .yinCang {
  display: none; }

footer {
  margin-bottom: 0 !important;
  clear: both;
  width: 100%;
  margin: 0 !important;
  padding: 2rem 0;
  height: auto;
  text-align: left;
  background-color: #808080; }
  footer h3 {
    font-size: 1.2rem !important;
    margin: 0;
    letter-spacing: 3px;
    padding-bottom: 0.5em;
    color: white; }
  footer ul {
    margin: 0px;
    list-style: none;
    padding-left: 0; }
    footer ul li {
      margin-top: 0.5rem;
      letter-spacing: 1.5px;
      text-align: left;
      font-size: 1rem; }
      footer ul li a {
        cursor: pointer;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6); }
        footer ul li a:hover {
          text-decoration: none;
          color: white; }
  footer .about p {
    font-size: 1.5rem; }
  footer .bottom-line p {
    letter-spacing: 3px; }
  @media (min-width: 1024px) {
    footer {
      margin: 15vw; } }

.bottom-div {
  clear: both;
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white; }
  @media (max-width: 600px) {
    .bottom-div {
      flex: 0 0 auto; } }
  .bottom-div p {
    margin: 0; }
    .bottom-div p a {
      color: #85add3 !important; }
      .bottom-div p a:hover {
        text-decoration: none; }

.backToTop {
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 0 10px;
  background: #2ea1ff;
  border: 2px solid #2ea1ff;
  letter-spacing: 0.1em;
  font-size: 1.2em;
  font-weight: bold;
  color: #E8E8E8;
  border-radius: 3px; }
  .backToTop:hover {
    cursor: pointer; }

.materialboxed {
  display: block;
  cursor: zoom-in;
  position: relative;
  transition: opacity .4s;
  -webkit-backface-visibility: hidden; }

.materialboxed:hover:not(.active) {
  opacity: .8; }

.materialboxed.active {
  cursor: zoom-out; }

/*# sourceMappingURL=LiShiDangAn.css.map */
