

nav {
  max-width: 1024px;
  margin: 0 auto;
  list-style: none;
}

nav .navbar-brand {
  padding-left: 80px;
  padding-right: 80px;
  font-size: 30px;
  letter-spacing: 5px;
  font-family: KaiTi;
  font-weight: bold;
}

#navbar-list {
  float:right;
  margin-right: 30px;
}

#navbar-list .dropdown {
  margin-right: 20px;
  font-size: 17px;
}

#navbar-list .dropdown-menu {
  margin: 0;
  padding: 3px;
  font-size: 15px;
  text-align: left;
}

.jumbotron {
  max-width: 1024px;
  height: 750px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: -30px;
}

.jumbotron h1 {
  margin-bottom: 85px;
  letter-spacing: 4px;
}

 .jumbotron .left {
  height: 400px;
  text-align: center;
}

.jumbotron .left p {
  margin-top: -18px;
  font-size: 18px;
  font-weight: bold;
}

.jumbotron .right {
  height: 400px;
  text-align: left;
  padding-top: 25px
}

.jumbotron .right p {
  font-size: 17px;
}


.outer-wraper {
  text-align: center;
  margin: 0 auto;
  max-width: 1024px;
}

.section-2 {
  display: inline-block;
  width: 1024px;
}

.section-2-left {
  margin: 0;
  padding: 0;
  max-width: 510px;
  float: left;
}

.section-2-right {
  margin-top: 25%;
  margin-left: -10%


}

.section-2-right p {
  font-size: 25px;
  font-family: STHeiti,，KaiTi;
  letter-spacing: 3px;
}

.section-2-right p:nth-child(2) {
  font-size: 15px;
}

.section-2-right .xibei {
  margin-bottom: 60px
}

.pic-slider {
  float: right;
}


.thumbnail {
  display: inline-block;
  float: none;
  margin-left: auto;
  margin-right: auto;

}

.brief-biograph  {
  max-width: 1024px;
  position: relative;
  margin: 0 auto;
}



.brief-biograph p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  text-align: left;
}

.avatar-div span {
  font-size: 14px;
  position:relative;
  top: -15px;
}

.brief-biograph h3 {
  position: relative;
  letter-spacing: 5px;
  background-color: grey;
  line-height: 50px;
  margin-top: -30px;
}


.news_container {
    width:1024px;
    height: 700px;
    overflow: hidden;
    position: relative;
    padding: 3px;
}
.news {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 20px;
    font-family: "华文细黑", serif;
    max-width: 1024px;
}

.section-2 h3 {
  position: relative;
  margin-top: 10px;
  letter-spacing: 5px;
  background-color: grey;
  line-height: 50px;
}

footer {
  max-width: 1024px;
  margin: 0 auto;
  height: 130px;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer ul {
  margin: 0px;
  list-style: none;
}

footer ul li {
  float: left;
  border: 1px solid #90a4ae;
  border-radius: 5px;
  margin: 0 4px;
  padding: 3px;
}


.bottom-line p {
  letter-spacing: 3px;
}

.bottom-line p i {
  color: red;
}
